
    
        <div class="card">
            <div class="card-header">
                TODO
            </div>
            <div class="card-block">
          
            </div>
            <div class="card-block">
              
                 <ul *ngFor="let element of goingArr" class="list">
                   <li><a (click)="opened=true" >{{element.entry}}</a>
                      <clr-modal [(clrModalOpen)]="opened">
                       <h3 class="modal-title">{{element.entry}}</h3>
                        <div class="modal-body">
                        <p>Description :&emsp;{{element.entryDesc}}</p>
                       </div>
                       <div class="modal-footer">
                       <button type="button" class="btn btn-primary" (click)="opened = false">Ok</button>
                       </div>
                        </clr-modal>
                   
                   
                   
                   </li>
                  
                </ul>
    
            </div>
            <div class="card-footer">
                <a (click)="moveInprogress()" class="btn btn-primary">Move to Inprogress</a>
            </div>
        </div>

     