      <div class="card">
            <div class="card-header">
                TODO
            </div>
            <div class="card-block">
          
            </div>
            <div class="card-block">
              
                 <ul *ngFor="let element of goingArr" class="list">
                   <li><a (click)="opened=true; setval(element);">{{element.entry}}</a>
                      <clr-modal [(clrModalOpen)]="opened">
                       <h3 class="modal-title">{{element.entry}}</h3>
                        <div class="modal-body">
                        <p>Description :&emsp;{{element.entryDesc}}</p>
                        <br>
                       </div>
                       <div class="modal-footer">
                       <button (click)="moveOnIn(); opened=false;" type="submit" class="btn btn-sm">Move to Inprogress</button>
                       <button (click)="moveOnCo(); opened=false;" type="submit" class="btn btn-sm">Move to Completed</button>
                       </div>
                      </clr-modal>
                      </li>
                </ul>
            </div>
            <div class="card-footer">
                <a (click)="moveInprogress()" class="btn btn-primary">Move to Inprogress</a>
            </div>
        </div>

     