    <div class="fixedcon">
        <div class="card">
            <div class="card-header">
                Completed
            </div>
            <div class="card-block">
            </div>
            <div class="card-block">
                 <ul *ngFor="let element of completedArr" class="list">
                   <li>
                      <a (click)="opened=true; setval(element);" >{{element.entry}}</a>
                      <clr-modal [(clrModalOpen)]="opened">
                       <h3 class="modal-title">{{element.entry}}</h3>
                        <div class="modal-body">
                        <p>Description :&emsp;{{element.entryDesc}}</p>
                        <br>
                       </div>
                       <div class="modal-footer">
                        
                       <button (click)="moveCoOn(element); opened=false;" type="submit" class="btn btn-sm" >Move to Ongoing</button>
                       <button (click)="moveCoIn(element); opened=false;" type="submit" class="btn btn-sm">Move to Inprogress</button>
                       </div>
                        </clr-modal>
                   </li>
                  
                </ul>
            </div>
            <div class="card-footer">
                <a (click)="moveOut()" class="btn btn-danger">Delete Completed</a>
            </div>
        </div>
  </div>



