
        <div class="card">
            <div class="card-header">
                Inprogress
            </div>
            <div class="card-block">
               
            </div>
            <div class="card-block">
                 <ul *ngFor="let element of inprogArr" class="list">
                   <li>
                      <a (click)="opened=true; setval(element);" >{{element.entry}}</a>
                      <clr-modal [(clrModalOpen)]="opened">
                       <h3 class="modal-title">{{element.entry}}</h3>
                        <div class="modal-body">
                        <p>Description :&emsp;{{element.entryDesc}}</p>
                        <br>
                       </div>
                       <div class="modal-footer">
                        <button (click)="moveInOn(element); opened=false;" type="submit" class="btn btn-sm" >Move to Ongoing</button>
                       <button (click)="moveInCo(element); opened=false;" type="submit" class="btn btn-sm">Move to Completed</button>
                       </div>
                        </clr-modal>
          
                   </li>
                </ul>
            
            </div>
            <div class="card-footer">
                <a (click)="moveCompleted()" class="btn btn-primary">Move to Completed</a>
            </div>
        </div>
   